In [30]:
import pandas as pd

### 1. Создайте объект Series, значениями которого являются целые числа от 1 до 5, а индексами - символы a,b,c,d,e

In [31]:
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 2. С помощью обращения по явному индексу получите значение 4

In [32]:
series['d'].item()

4

### 3. С помощью обращения по неявному индексу получите значение 2

In [33]:
series[1].item()

C:\Users\Влад\AppData\Local\Temp\ipykernel_11636\2104215585.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series[1].item()

2

Пишется предупреждение, что данный способ устаревший и что лучше использовать свойство iloc

In [34]:
series.iloc[1].item()

2

### 4. Добавьте в серию новый элемент.

In [35]:
series['f'] = '6'
series

a    1
b    2
c    3
d    4
e    5
f    6
dtype: object

### 5. Используя операцию среза, получите значения 3,4,5.

In [36]:
series[2:5]

c    3
d    4
e    5
dtype: object

### 6. Создайте DataFrame из списка [[1,2],[5,3],[3.7,4.8]] с именами столбцов col1 и col2

In [37]:
origin = pd.DataFrame([[1,2],[5,3],[3.7,4.8]], columns=['col1','col2'])
origin

   col1  col2
0   1.0   2.0
1   5.0   3.0
2   3.7   4.8

### 7. используя операцию идексации получите элемент 3.7

In [38]:
el = origin['col1'][2] 
el.item()

3.7

### 8. Измените элемент 3 на 9

In [39]:
origin.loc[1,'col2'] = 9
origin

   col1  col2
0   1.0   2.0
1   5.0   9.0
2   3.7   4.8

### 9. Используя операцию среза, получите строки с индексами 1 и два

In [40]:
origin.iloc[1:3]

   col1  col2
1   5.0   9.0
2   3.7   4.8

### 10. Добавьте столбец col3, значния которого - результат поэлементного перемножения col1 и col2.

In [41]:
origin['col3']=origin['col1']*origin['col2']
origin

   col1  col2   col3
0   1.0   2.0   2.00
1   5.0   9.0  45.00
2   3.7   4.8  17.76